<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="author" content="Dmitry Frolov"/>
	<meta name="created" content="2018-04-07T14:31:00"/>
	<meta name="changed" content="2018-05-04T17:09:47"/>
	<meta name="AppVersion" content="16.0000"/>
	<meta name="DocSecurity" content="0"/>
	<meta name="HyperlinksChanged" content="false"/>
	<meta name="LinksUpToDate" content="false"/>
	<meta name="ScaleCrop" content="false"/>
	<meta name="ShareDoc" content="false"/>
	<style type="text/css">
		@page { size: 21cm 29.7cm; margin-left: 1.2cm; margin-right: 1.5cm }
		p { margin-bottom: 0.25cm; direction: ltr; color: #00000a; line-height: 120%; text-align: left; orphans: 2; widows: 2 }
		p.western { font-family: "Calibri", serif; font-size: 11pt; so-language: ru-RU }
		p.cjk { font-family: "Calibri"; font-size: 11pt; so-language: en-US }
		p.ctl { font-family: ; font-size: 11pt; so-language: ar-SA }
	</style>
</head>
<body onload=print();close()>
	<h4 style="text-align: center;">
		ТРУДОВОЙ ДОГОВОР №_<%=contracts.num%>_
		<br>
		на условиях почасовой оплаты труда
		для сотрудников, занятых в образовательном процессе вуза
	</h4>

<p class="western" style="margin-bottom: 0cm; line-height: 115%"><font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">г.
Магнитогорск&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;«____»_____________20___г</font></font></p>
<p class="western" align="justify" style="margin-bottom: 0cm; line-height: 115%">
<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">ФГБОУ
ВО «Магнитогорский государственный
технический университет им. Г. И. Носова,
именуемое в дальнейшем «Работодатель»,
в лице ректора Чукина М.В., действующего
на основании Устава, и</font></font></p>
<p class="western" align="justify" style="margin-bottom: 0cm; line-height: 115%">
<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">__<%=emp.surname%> <%=emp.name%> <%=emp.middle_name%>, <%=degree.name%>, <%=cathedra.name%>___</font></font></p>
<p class="western" align="center" style="margin-bottom: 0cm; line-height: 115%">
<sup><font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">(Ф.И.О.,
ученая степень, ученое звание)</font></font></sup></p>
<p class="western" align="justify" style="margin-bottom: 0cm; line-height: 115%">
<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">именуемый
(ая) в дальнейшем «Преподаватель»,
заключили настоящий договор о
нижеследующем:</font></font></p>
<ol>
	<li/>
<p align="center" style="margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt"><b>Предмет
	договора</b></font></font></p>
	<ol>
		<li/>
<p style="margin-bottom: 0cm; line-height: 115%"><font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">В
		соответствии с условиями настоящего
		трудового договора Преподаватель
		принимается Работодателем на работу
		в ______________Многопрофильный
		колледж________________________________</font></font></p>
	</ol>
</ol>
<p class="western" align="center" style="margin-bottom: 0cm; line-height: 115%">
<sup><font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">(наименование
структурного подразделения)</font></font></sup></p>
<p align="justify" style="margin-bottom: 0cm; line-height: 115%"><font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">на
условиях почасовой оплаты труда для:</font></font></p>
<p align="justify" style="margin-right: -0.27cm; margin-bottom: 0cm; line-height: 115%">
<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">преподавания_____________________________________________________________________________________________</font></font></p>
<p align="justify" style="margin-right: -0.27cm; margin-bottom: 0cm; line-height: 115%">
<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Реализации
ОП____________________________________________________________________________________________</font></font></p>
<p class="western" align="center" style="margin-bottom: 0cm; line-height: 115%">
<sup><font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">(наименование
ОП/вид учебной работы)</font></font></sup></p>
<p align="justify" style="margin-right: -0.27cm; margin-bottom: 0cm; line-height: 115%">
<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Основное
место
работы_____________________________________________________________________________________</font></font></p>
<p align="justify" style="margin-right: -0.27cm; margin-bottom: 0cm; line-height: 150%">
 <font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Выделенная
почасовая нагрузка</font></font></p>
<p align="justify" style="margin-right: -0.27cm; margin-bottom: 0cm; line-height: 150%">
 <font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Почасовая
нагрузка по
замене__________________________________________________________________________</font></font></p>
<p class="western" align="center" style="margin-bottom: 0cm; line-height: 115%">
<sup><font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">(Ф.И.О.,
дата и номер больничного листа)</font></font></sup></p>
<ol start="2">
	<li/>
<p align="center" style="margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt"><b>Права
	и обязанности сторон</b></font></font></p>
	<ol>
		<li/>
<p style="margin-bottom: 0cm; line-height: 115%"><font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Права
		и обязанности Преподавателя:</font></font></p>
	</ol>
</ol>
<p class="western" align="justify" style="margin-right: -0.27cm; text-indent: 0.75cm; margin-bottom: 0cm; line-height: 115%">
<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Преподаватель
имеет право:</font></font></p>
<ul>
	<li/>
<p align="justify" style="margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">выбирать
	методы и средства обучения, наиболее
	полно отвечающие индивидуальным
	особенностям обучающихся и обеспечивающие
	высокое качество учебного процесса;</font></font></p>
	<li/>
<p align="justify" style="margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">определять
	содержание учебных дисциплин в
	соответствии с федеральными
	государственными образовательными
	стандартами среднего профессионального
	образования, образовательными
	программами;</font></font></p>
	<li/>
<p align="justify" style="margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">участвовать
	в обсуждении вопросов учебной, научной,
	творческой и производственной
	деятельности на советах университета
	факультетов;</font></font></p>
	<li/>
<p align="justify" style="margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">бесплатно
	пользоваться оборудованием, лабораториями,
	кабинетами, аудиториями, читальными
	залами, библиотеками, услугами
	вышеперечисленного центра;</font></font></p>
	<li/>
<p align="justify" style="margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">на
	организационное и материально-техническое
	обеспечение своей профессиональной
	деятельности;</font></font></p>
	<li/>
<p align="justify" style="margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">обжаловать
	приказы и распоряжения администрации
	университета в порядке, установленном
	законодательством РФ;</font></font></p>
	<li/>
<p align="justify" style="margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">пользоваться
	другими правами в соответствии с
	трудовым законодательством РФ и
	коллективным договором.</font></font></p>
</ul>
<p align="justify" style="margin-left: 1cm; margin-right: -0.27cm; margin-bottom: 0cm; line-height: 115%">
<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Преподаватель
обязан:</font></font></p>
<ul>
	<li/>
<p align="justify" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">выполнять
	работу по проведению занятий по следующим
	видам учебной работы:</font></font></p>
</ul>
<ol>
	<li/>
<p align="justify" style="margin-right: -0.27cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Проведение
	лекционных занятий_<%=JSON.parse(contracts.words)[0]%>_ак. час.</font></font></p>
	<li/>
<p align="justify" style="margin-right: -0.27cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Проведение
	лабораторных занятий_<%=JSON.parse(contracts.words)[0]%>_ак. час.</font></font></p>
	<li/>
<p align="justify" style="margin-right: -0.27cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Проведение
	практических занятий_<%=JSON.parse(contracts.words)[0]%>_ак. час.</font></font></p>
	<li/>
<p align="justify" style="margin-right: -0.27cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Консультации_<%=JSON.parse(contracts.words)[0]%>__час.</font></font></p>
	<li/>
<p align="justify" style="margin-right: -0.27cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Курсовое
	проектирование_<%=JSON.parse(contracts.words)[0]%>_час.</font></font></p>
	<li/>
<p align="justify" style="margin-right: -0.27cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Проверка
	контрольных работ_<%=JSON.parse(contracts.words)[0]%>_час.</font></font></p>
	<li/>
<p align="justify" style="margin-right: -0.27cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Прием
	зачетов_<%=JSON.parse(contracts.words)[0]%>__час.</font></font></p>
	<li/>
<p align="justify" style="margin-right: -0.27cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Прием
	экзаменов_<%=JSON.parse(contracts.words)[0]%>__час.</font></font></p>
	<li/>
<p align="justify" style="margin-right: -0.27cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Индивидуальная
	работа_<%=JSON.parse(contracts.words)[0]%>__час.</font></font></p>
</ol>
<p align="justify" style="margin-left: 1.5cm; margin-right: -0.27cm; text-indent: -0.5cm; margin-bottom: 0cm; line-height: 115%">
<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">-
для реализации ОП</font></font></p>
<ol start="10">
	<li/>
<p align="justify" style="margin-right: -0.27cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Дипломное
	проектирование_<%=JSON.parse(contracts.words)[0]%>__час.</font></font></p>
	<li/>
<p align="justify" style="margin-right: -0.27cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Работа
	в ГЭК_<%=JSON.parse(contracts.words)[0]%>__час.</font></font></p>
	<li/>
<p align="justify" style="margin-right: -0.27cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Руководство
	аспирантами_<%=JSON.parse(contracts.words)[0]%>_час.</font></font></p>
	<li/>
<p align="justify" style="margin-right: -0.27cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Руководство
	практикой_<%=JSON.parse(contracts.words)[0]%>_час.</font></font></p>
	<li/>
<p align="justify" style="margin-right: -0.27cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Другие
	виды работ:
	__<%=JSON.parse(contracts.words)[0]%>____час.</font></font></p>
</ol>
<p align="justify" style="margin-right: -0.27cm; text-indent: 1cm; margin-bottom: 0cm; line-height: 115%">
<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Всего
академических часов
<%
var sum = 0;
var sum_ak = 0;
var i = 0;
var wordss = JSON.parse(contracts.words);
wordss.forEach(function(val){
	if(i>2){
		sum_ak += val*2;
	}
    sum += Number(val);
		i++;
});
%>
_<%=sum_ak%>_____</font></font></p>
<p align="justify" style="margin-right: -0.27cm; text-indent: 1cm; margin-bottom: 0cm; line-height: 115%">
<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Всего
часов __<%=sum%>____</font></font></p>
<ul>
	<li/>
<p align="justify" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">соблюдать
	правила внутреннего трудового распорядка;</font></font></p>
	<li/>
<p align="justify" style="margin-right: -0.27cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">своевременно
	оповещать администрацию университета
	(факультета, кафедры) о невозможности
	выполнить по уважительной причине
	обусловленную трудовым договором и
	расписанием учебных занятий работу.</font></font></p>
</ul>
<ol>
	<ol start="2">
		<li/>
<p align="justify" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
		<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Права
		и обязанности Работодателя:</font></font></p>
	</ol>
</ol>
<p class="western" align="justify" style="margin-right: -0.27cm; margin-bottom: 0cm; line-height: 115%">
<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Работодатель
имеет право:</font></font></p>
<ul>
	<li/>
<p align="justify" style="margin-right: 0.1cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">требовать
	от Преподавателя исполнения им трудовых
	обязанностей и бережного отношения к
	имуществу университета и других
	работников, соблюдения правил внутреннего
	трудового распорядка;</font></font></p>
	<li/>
<p align="justify" style="margin-right: 0.1cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">привлекать
	Преподавателя к дисциплинарной и
	материальной ответственности в порядке,
	установленном трудовым Кодексом и
	иными федеральными законами;</font></font></p>
	<li/>
<p align="justify" style="margin-right: 0.1cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">поощрять
	преподавателя за добросовестный
	эффективный труд;</font></font></p>
	<li/>
<p align="justify" style="margin-right: 0.1cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">другие
	права, установленные трудовым
	законодательством.</font></font></p>
</ul>
<p align="justify" style="margin-right: 0.1cm; margin-bottom: 0cm; line-height: 115%">
<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Работодатель
обязан:</font></font></p>
<ul>
	<li/>
<p align="justify" style="margin-right: 0.1cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">своевременно
	и в полном объеме выплачивать Преподавателю
	заработную плату, обусловленную
	настоящим трудовым договором;</font></font></p>
	<li/>
<p align="justify" style="margin-right: 0.1cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">создавать
	условия для эффективного выполнения
	обязанностей Преподавателя, предусмотренных
	трудовым договором;</font></font></p>
	<li/>
<p align="justify" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">своевременно
	информировать Преподавателя обо всех
	существенных изменениях в организации
	учебного процесса и учебных планов,
	объемов нагрузки, учебного расписания
	и т.д.</font></font></p>
	<li/>
<p align="justify" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">обеспечивать
	безопасность труда и условия, отвечающие
	требованиям охраны и гигиены труда
	Преподавателя;</font></font></p>
	<li/>
<p align="justify" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">исполнять
	иные обязанности, предусмотренные
	настоящим договором и Трудовым Кодексом.</font></font></p>
</ul>
<ol start="3">
	<li/>
<p align="center" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt"><b>Рабочее
	время и время отдыха</b></font></font></p>
	<ol>
		<li/>
<p align="justify" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
		<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Режим
		рабочего времени и времени отдыха
		Преподавателя определяется правилами
		внутреннего трудового распорядка
		Университета, либо по согласованию с
		администрацией университета.</font></font></p>
		<li/>
<p align="justify" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
		<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Ежедневная
		продолжительность работы Преподавателя
		определяется графиком работы.</font></font></p>
	</ol>
	<li/>
<p align="center" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt"><b>Оплата
	труда</b></font></font></p>
	<ol>
		<li/>
<p align="justify" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
		<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Оплата
		труда Преподавателя устанавливается
		на условиях почасовой оплаты исходя
		из размера ставки оплаты труда,
		установленной Работодателем в
		соответствии с приказом ректора.</font></font></p>
		<li/>
<p align="justify" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
		<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Оплата
		труда производится за фактически
		выполненный Преподавателем объем
		работы на основании актов выполненных
		работ.</font></font></p>
		<li/>
<p align="justify" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
		<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Оплата
		труда по настоящему договору
		осуществляется в порядке и сроки,
		установленные коллективным договором.</font></font></p>
		<li/>
<p align="justify" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
		<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">В
		ставку почасовой оплаты включена
		оплата за отпуск.</font></font></p>
	</ol>
	<li/>
<p align="center" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt"><b>Действие
	трудового договора</b></font></font></p>
	<ol>
		<li/>
<p align="justify" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
		<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Настоящий
		договор вступает в силу с «___»
		________________ 20___ года и действует до </font></font>
		</p>
	</ol>
</ol>
<p align="justify" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">«___»
_______________ 20___ года.</font></font></p>
<ol start="6">
	<li/>
<p align="center" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt"><b>Прочие
	условия</b></font></font></p>
	<ol>
		<li/>
<p align="justify" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
		<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">За
		невыполнение или ненадлежащее выполнение
		условий настоящего трудового договора
		Стороны несут ответственность в
		соответствии с действующим
		законодательством.</font></font></p>
		<li/>
<p align="justify" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
		<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Споры
		между сторонами, возникающие при
		исполнении настоящего трудового
		договора, рассматриваются в порядке,
		предусмотренном действующим
		законодательством РФ.</font></font></p>
		<li/>
<p align="justify" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
		<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Условия
		настоящего договора могут быть изменены
		и (или) дополнены по письменному
		соглашению сторон, являющегося
		неотъемлемой частью настоящего
		договора.</font></font></p>
		<li/>
<p align="justify" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
		<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">По
		всем вопросам, неурегулированным
		настоящим договором, стороны
		руководствуются действующим
		законодательством РФ.</font></font></p>
		<li/>
<p align="justify" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
		<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Договор
		составлен в двух экземплярах, имеющих
		равную юридическую силу, по одному для
		каждой из сторон.</font></font></p>
	</ol>
	<li/>
<p align="center" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
	<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt"><b>Адреса,
	реквизиты и подписи сторон:</b></font></font></p>
</ol>
<table width="717" cellpadding="7" cellspacing="0">
	<col width="332">
	<col width="356">
	<tr valign="top">
		<td width="332" height="224" bgcolor="#ffffff" style="border: none; padding: 0cm">
			<p class="western" style="margin-right: -0cm; margin-bottom: 0cm"><font face="Times New Roman, serif"><font size="2" style="font-size: 10pt"><b>Работодатель:</b></font></font></p>
			<p class="western" style="margin-right: -0cm; margin-bottom: 0cm"><font face="Times New Roman, serif"><font size="2" style="font-size: 10pt"><b>ФГБОУ
			ВО «Магнитогорский государственный
			технический университет им. Г. И.
			Носова»</b></font></font></p>
			<p class="western" style="margin-right: -0cm; margin-bottom: 0cm"><br/>

			</p>
			<p class="western" style="margin-right: -0cm; margin-bottom: 0cm"><font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">455000,
			г. Магнитогорск, пр. Ленина, 38 </font></font>
			</p>
			<p class="western" style="margin-right: -0cm; margin-bottom: 0cm"><font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">ИНН/КПП
			7414002238/744401001</font></font></p>
			<p class="western" style="margin-right: -0cm; margin-bottom: 0cm"><font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">УФК
			по Челябинской области (ОФК 14, ФГБОУ
			ВО «МГТУ», л/с 20696Х30690;</font></font></p>
			<p class="western" style="margin-right: -0cm; margin-bottom: 0cm"><font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">р/с
			40501810600002000002 в ГРКЦ ГУ Банка России по
			Челябинской области, г. Челябинск</font></font></p>
			<p class="western" style="margin-right: -0cm; margin-bottom: 0cm"><font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">БИК
			047501001</font></font></p>
			<p class="western" style="margin-right: -0cm; margin-bottom: 0cm"><br/>

			</p>
			<p class="western" style="margin-right: -0cm; margin-bottom: 0cm"><font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Ректор____________
			М.В.Чукин</font></font></p>
			<p class="western" style="margin-right: -0cm"><sup><font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">М.П.</font></font></sup></p>
		</td>
		<td width="356" bgcolor="#ffffff" style="border: none; padding: 0cm">
			<p class="western" style="margin-left: 0.88cm; margin-bottom: 0cm">
			<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt"><b>Работник:</b></font></font></p>
			<p class="western" style="margin-left: 0.88cm; margin-bottom: 0cm">
			<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt"><b>____________________________________________</b></font></font></p>
			<p class="western" style="margin-left: 0.88cm; margin-bottom: 0cm">
			<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt"><b>____________________________________________</b></font></font></p>
			<p class="western" style="margin-left: 0.88cm; margin-right: -0.21cm; margin-bottom: 0cm">
			<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Зарегистрирован(а)
			по адресу___________________</font></font></p>
			<p class="western" style="margin-left: 0.88cm; margin-right: -0.21cm; margin-bottom: 0cm">
			<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">____________________________________________</font></font></p>
			<p class="western" style="margin-left: 0.88cm; margin-right: -0.21cm; margin-bottom: 0cm">
			<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Паспорт:
			серия______номер_______выдан_______</font></font></p>
			<p class="western" style="margin-left: 0.88cm; margin-right: -0.21cm; margin-bottom: 0cm">
			<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">____________________________________________</font></font></p>
			<p class="western" style="margin-left: 0.88cm; margin-right: -0.21cm; margin-bottom: 0cm">
			<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Дата
			выдачи___________ Дата рождения_________</font></font></p>
			<p class="western" style="margin-left: 0.88cm; margin-right: -0.21cm; margin-bottom: 0cm">
			<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">ИНН__________________ПСС_________________</font></font></p>
			<p class="western" style="margin-left: 0.88cm; margin-right: -0.21cm; margin-bottom: 0cm">
			<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Контактный
			телефон__________________________</font></font></p>
			<p class="western" style="margin-left: 0.88cm; margin-right: -0.21cm; margin-bottom: 0cm">
			<font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">_______________
			/ ___________________________.</font></font></p>
			<p class="western" style="margin-left: 0.88cm; margin-right: -0.21cm; margin-bottom: 0cm">
			<sup>               <font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">(подпись)
			                                     (расшифровка
			подписи)</font></font></sup></p>
			<p class="western" style="margin-left: 0.88cm"><br/>

			</p>
		</td>
	</tr>
</table>
<p class="western" align="center" style="margin-right: -0cm; margin-bottom: 0cm; line-height: 115%">
<br/>

</p>
<p class="western" style="margin-bottom: 0cm; line-height: 100%"><font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Заместитель
директора по УМР ___________________ Ю.В. Федосеева</font></font></p>
<p class="western" style="margin-bottom: 0cm; line-height: 100%"><sup>

                                  <font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">(подпись)</font></font></sup></p>
<p class="western" style="margin-bottom: 0cm; line-height: 100%"><font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">Старший
диспетчер                    ____________________ Д.Г.
Базарова </font></font>
</p>
<ol>
	<li/>
<p align="justify" style="margin-bottom: 0cm; line-height: 115%">
	</p>
</ol>
</body>
</html>
